body{
    height: 100vh;
    background-color: whitesmoke;
}


.header{
    margin-bottom: 5vh;
    margin-top: 5vh;
    background-color: whitesmoke;
    font-family: 'Sansita Swashed', cursive;
   
}

.scores{
    margin-top: 5vh;
}

/* .clearTable{
    visibility: hidden;
}

.showIt{
    visibility: visible;
} */