body{
    height: 100vh;
    background-color: whitesmoke;
   
}
 nav{
    
     background-color:#698996 !important ;
     border-bottom: 2px solid black;     
 }

 .logo{
     width:200px;  
 }
 
 #logoText{
    color: whitesmoke;
    font-family: 'Sansita Swashed', cursive;
 }
#play{
    background-color: #dea947;
    color: whitesmoke;
}
#play:hover{
    color:#698996
}
#clear{
    background-color: #536A79;
    color:whitesmoke;
}
#clear:hover{
    background-color: whitesmoke;
    color:#536A79
}


.scores{
    margin-top: 10vh;
}
.color{
    color: #698996 !important;
    font-family: 'Sansita Swashed', cursive;
}
#leaderTable td{
    color: #698996 !important;
}


@media (max-width:1023px){

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logoText{
   font-size: 2.5rem !important;
}
}