::before, ::after{
    box-sizing: border-box;
  
}
body{
background-image: url("../images/triviabackground2.jpg");
background-size: cover;
width:100vw;
 height:100vh
}

.navbar{
    display:flex;
    justify-content:center;
    color:black;
    font-size: xx-large;
    font-family: 'Girassol', cursive;
   

}
.container{
display: flex;
justify-content: center;
background-color: white;
border-radius:5px ;
padding:20px;
margin-top: 10%;
box-shadow: 0 0 10px 2px ;
}

#questions{
    font-family:'arvo', serif;
    font-size: xx-large;
}

.btn-grid{
    display:grid;
    grid-template-columns: repeat(2, auto);
    gap:10px;
    margin:20px 0;
}
.btn{
    background-color:#87cefa ;
    border: 2px solid #000080;
    border-radius: 5px;
    padding:5px 10px;
    font-size: larger;
    font-family: 'Arvo', serif;
}
.btn:hover{
    background-color:#8b008b;
    color:#ffffff;
}

.btn.correct{
    background-color:#006400;
    color:#ffffff
}

.btn.wrong{
    background-color: #8b0000;
    color:#ffffff;
}
.start-btn{
    font-size:2rem;
    font-weight:bold;
    padding:10px 20px;
}
.gameControls{
    display:flex;
    justify-content: center;
    align-items: center;
}
.hide{
 display:none;
}
.show{
    display:block;
}